---
const { classe, animation, delay } = Astro.props;
---

<!-- chiamaci button -->
<a
  href="tel:+393761594011"
  class={"flex flex-row justify-center items-center transition duration-300" +
    classe}
  type="button"
  data-aos={animation}
  data-aos-delay={delay}
  data-aos-duration="800"
>
  CHIAMACI
</a>
