---
import Cards from "@components/blog/Cards.astro";
import BlogLayout from "layouts/BlogLayout.astro";
---

<BlogLayout
    titolo="Blog"
    descrizione="Un elenco dei nostri articoli, dove scoprirai nuovi luoghi e nuove esperienze da poter effettuare in Abruzzo"
>
    <section class="bg-white w-full mt-10 md:mt-16">
        <Cards />
    </section>
</BlogLayout>
