<div
  class="prose mx-auto max-w-3xl lg:max-w-2xl prose-green prose-zinc prose-headings:text-pretty text-center lg:text-left prose-ul:text-left lg:prose-xl prose-img:w-full prose-img:rounded-3xl"
  data-aos="zoom-in" data-aos-duration="1000"
>
  <slot />
</div>
